node_modules
typings/globals
typings/modules
typings/index.d.ts
spec/typings/globals
spec/typings/modules
spec/typings/index.d.ts
.DS_Store*
npm-debug.log
*.iml
coverage
junitresults.xml
lib
tmp
.idea
spec/build
